.name-white {
  color: #FFFFFF; /* White color for "Chris" */
}

.name-grey {
  color: #4C545C; /* Grey color for "Curcio" */
}

.navbar-header {
  display: flex; /* Ensure spans are inline */
  margin: 0; /* Remove default margin */
  font-family: 'Lalezar', sans-serif; /* Apply Lalezar font */
  font-size: 24px; /* Set the font size */
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px; /* Adjust padding as needed */
}

.navbar-header {
  margin: 0; /* Removes default margin */
}

.navbar-links {
  display: flex;
}

.nav-link {
  margin-left: 20px; /* Spacing between links */
}
