.name-white {
  color: #FFFFFF;
}

.name-grey {
  color: #4C545C;
}

.navbar-header {
  display: flex;
  margin: 0;
  font-family: 'Lalezar', sans-serif;
  font-size: 28px;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 65px;
}

.navbar-header {
  margin: 0;
}

.navbar-links {
  display: flex;
  font-size: 22px;
  font-family: 'Lalezar', sans-serif;
  margin-right: 10px;
}

.nav-link {
  margin-left: 80px;
  position: relative;
  display: inline-block;
}

.nav-link.active::before {
  content: '';
  position: absolute;
  top: 2px;
  left: -10px;
  right: -10px;
  bottom: 5px;
  background-color: lightgrey;
  opacity: .2;
  z-index: 0;
  border-radius: 8px;
}