@media screen and (max-width: 768px) {

    .about-container {
        padding: 0px;
        background-color: #4C545C; /* Mobile-specific background color */
    }

    .about-content {
        display: block;
        flex-direction: column; /* Stack sections vertically */
        align-items: center; /* Center the sections */
        width: 90%;
    }

    h2 {
        font-size: 48px;
        text-align: center;
        margin-bottom: 0;
    }

    /* About text adjustments */
    .about-text {
        font-size: 15px;
        line-height: 1.6;
        width: 100%;
        text-align: left;
        padding: 10px 5px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .about-text p {
        margin-top: 0px; /* Adjust this value as needed */
        margin-bottom: 15px; /* Adjust if necessary */
    }


    /* Skills section adjustments */
    .skills {
        margin: 0;
        width: 100%;
        text-align: center;
        background-color: #13171A;
        border-radius: 25px;
        padding-top: 5px;
    }

    .skills h2 {
        font-size: 48px;
        margin-bottom: 0;
        margin-top: 0;
    }

    /* Skills grid adjustments for mobile */
    .skills-grid {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for mobile */
        padding: 0 10px;
    }

    /* Skills icons and item adjustments for mobile */
    .skill-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .skill-icon {
        width: 100px; /* Smaller icon size */
        height: 100px;
        margin-bottom: 8px;
    }
}