/* General Layout */
.sql-skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px 20px;
    background: #13171A;
    color: #FFF;
}

/* Typography - SQL Skills Page Header */
.sql-skill-header {
    font-family: 'Lalezar', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

/* Typography - Intro Section */
.sql-skill-intro {
    font-family: 'Lalezar', sans-serif;
    font-size: 18px;
    line-height: 1.8;
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
}

/* Projects Section */
.sql-projects {
    padding-bottom: 20px;
}

.sql-projects-header {
    font-family: 'Lalezar', sans-serif;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

/* Project Grid */
.sql-projects-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 1200px;
    background-color: #1E2328;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* SQL Project Item Styling */
.sql-project-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 350px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sql-project-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

/* SQL Project Image Styling */
.sql-project-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.3s ease;
}

/* SQL Overlay for Projects */
.sql-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.sql-project-content:hover .sql-overlay {
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
}

/* Project Info Styling */
.sql-project-info {
    color: #FFF;
    text-align: center;
}

.sql-project-info h3 {
    font-size: 16px;
    font-family: 'Lalezar', sans-serif;
    margin-bottom: 0;
}

.sql-project-info p {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    padding: 0 10px;
    margin-top: 0;
}

/* Back Button */
.sql-back-button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sql-back-button {
    background-color: #000;
    color: #F6D26D;
    font-family: 'Lalezar', sans-serif;
    font-size: 22px;
    padding: 4px 24px;
    border: 2px solid #F6D26D;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sql-back-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.sql-back-button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}